* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-image: url('./assets/img/hero-shop.png');
  background-repeat: no-repeat;
}

.container {
  width: 1440px;
  padding-top: 313px;
  text-align: center;
}

h1 {
  font-size: 80px;
  color: white;
  margin-bottom: 24px;
}

p {
  font-size: 30px;
  color: white;
  margin-bottom: 40px;
}

a {
  color: white;
  text-decoration: none;
  background-color: #094BAC;
  padding: 16px 40px;
  border-radius: 32px;
  display: inline-block;
}
