.hero-shop {
  display: flex;
}

.hero-shop img {
  width: 1440px;
  height: 1024px;
  position: absolute;
}

.hero-shop .content {
  width: 920px;
  height: 364px;
  z-index: 1;
  margin-top: 313px;
  margin-left: 260px;
  margin-bottom: 346px;
  margin-right: 260px;
}

.hero-shop .content p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 24px;
  text-align: center;
  color: white;
}
.hero-shop .content h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.hero-shop .content button {
  width: 236px;
  height: 64px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  border-radius: 32px;
  padding-top: 16px ;
  padding-bottom: 16px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: blue;
  color: white;
  left: 50%;
  transform: translateX(130%);
}